<!DOCTYPE HTML>
<!--
    Urban by TEMPLATED
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Adriatic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body class="subpage">

    <!-- Header -->
    <header id="header">
        <a href="#menu">Меню</a>
        <div class="logo"><a href="@Url.Action("Index")" class="link" style="color:white">Главная</a></div>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="@Url.Action("Index")" class="link">Главная</a></li>
            <li><a href="@Url.Action("Montenegro")" class="link">Черногория</a></li>
            <li><a href="@Url.Action("Albania")" class="link">Албания</a></li>
            <li><a href="@Url.Action("Croatia")" class="link">Хорватия</a></li>
            <li><a href="@Url.Action("Italy")" class="link">Италия</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h1>Хорватия</h1>
                    <p>Государство на юге Центральной Европы, частично на западе Балканского полуострова.</p>
                </header>
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3>Климат</h3>
                        <p>На побережье царит средиземноморский климат с жарким и очень сухим летом (температура воздуха +25..+29°C) и влажной тёплой зимой (+9..+15°C). Жара легко переносится благодаря сухому воздуху, морскому бризу и обилию зелени на побережье. Купальный сезон продолжается с начала мая до середины октября.</p>
                        <h3>Кухня</h3>
                        <p>
                            Кроме стандартной европейской кухни, в Хорватии готовят множество национальных блюд, которые непременно стоит попробовать. Это далматинский или истринский пршут (вяленое мясо), пашский или личский сыр, овечий сыр, славонский кулен (род колбасок), знаменитые самоборские или загорские чешновки (тоже колбаски). В Далмации, на островах и в Истрии основные блюда — рыба и морепродукты, а также паштицада (тушёное мясо) и варёная баранина.
                        </p>
                        <h3>География</h3>
                        <p>Хорватия расположена на северо–восточном берегу Адриатического моря. Она граничит со Словенией и Венгрией на севере, Югославией – на востоке и Боснией–Герцеговиной – на юго–востоке. Восточная граница частично проходит по реке Дунай. Пограничная линия на юге широким треугольником огибает Боснию и Герцеговину. Западная граница Хорватии проходит вдоль Адриатического моря с одним 20–километровым разрывом, дающим Боснии и Герцеговине небольшой отрезок морского побережья.</p>
                        <h3>Что купить в Хорватии?</h3>
                        <p>Сувенирная продукция. Ювелирные изделия ручной работы, изделия народного творчества, например, украшения «морчич», вучедольские голубки, разного рода обереги, кружева, коралловые украшения и многое–многое другое. Таким образом, вы легко подберёте отличный сувенир и для себя, и для своих детей, и для друзей, и для коллег. Никаких проблем с поиском и выбором подарка возникнуть не должно.</p>
                    </div>
                    <div class="col col1 first">
                        <div class="image round fit">
                            <img src="~/images/39318f0f65c20c03b89d262d8253431e.jpg" />

                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Section -->
        <section class="wrapper style1">
            <div class="inner">
                <header class="align-center">
                    <h2>Города Хорватии</h2>
                    <p>У нас есть туры в эти замечательные города, которые вы не отличите от рая.</p>
                </header>
                <div class="flex flex-3">
                    <div class="col align-center">
                        <div class="image round fit">

                            <img src="~/images/opatija.jpg" />

                        </div>
                        <h3>Опатия</h3>
                        <p>Город является одним из самых популярных курортов Хорватии, уже в начале прошлого века сюда съезжались туристы из Европы.</p>
                       
                    </div>

                    <div class="col align-center">
                        <div class="image round fit">

                            <img src="~/images/Primoshten.jpg" />

                        </div>
                        <h3>Примоштен</h3>
                        <p>Примоштен — один из важных туристических центров в Хорватии с развитой инфраструктурой. </p>
                        
                    </div>

                    <div class="col align-center">
                        <div class="image round fit">

                            <img src="~/images/Crikvenica_1000_666.jpg" />
                        </div>
                        <h3>Цриквеница</h3>
                        <p>Курортный город в хорватии. </p>
                
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
</body>
</html>