@model TouristAgency.Models.Tour
<!DOCTYPE HTML>
<!--
    Urban by TEMPLATED
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Adriatic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

    <script src="~/Scripts/slideshow.js"></script>
</head>
<body class="subpage">
    <!-- Main -->
    <div id="main">
        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h4>@Model.City, @Model.Country.Name</h4>
                    <h1>Тур в отель @Model.Hotel</h1>
                </header>
                <div class="align-center">


                    @*@foreach (var p in Model.Pictures)
        {
        <div class="image fit">

            <img src="~/images/@i.Url" />

        </div>
        }*@
                        <div id="content">
                            <ul class="infoPanel">
                                @foreach (var p in Model.Pictures)
                                {
                                    <li>
                                        <a href="#url" class="infoLink">
                                            <img alt="" src="~/images/@p.Url" style="opacity: 0.8;">
                                        </a>
                                        <div style="display: none;"> <img alt="" src="~/images/@p.Url"> </div>
                                    </li>

                                }
                            </ul>
                        </div>


                </div>
                
                <div class="6u 12u$(small)">

                    <h3>Дата вылета: @Html.DisplayFor(modelitem => modelitem.StartDate)</h3>
                    <h3>Количество ночей: @Model.Night</h3>
                    <h3>Стоимость за 10 ночей: @Model.Price $</h3>
                </div>
            </div>

        </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
</body>
</html>