@model TouristAgency.Models.Tour
<!DOCTYPE HTML>
<!--
    Urban by TEMPLATED
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Adriatic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="~/Scripts/slideshow.js"></script>
</head>
@*<header class="align-center">


</header>
<div class="flex flex-3">
    <div class="col align-center">
        @foreach (var p in Model.Pictures)
        {
            <div class="image round fit">
                <img src="~/images/@p.Url" />
            </div>
        }
    </div>
</div>*@
<body class="subpage">
    <!-- Main -->
    <div id="main">
        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h4>@Model.City, @Model.Country.Name</h4>
                    <h1>Тур в отель @Model.Hotel</h1>
                </header>
                <div class="flex flex-2">
                    <div class="col col1 first">
                        @foreach (var i in Model.Pictures)
                        {
                            <div class="image  fit">
                                <img src="~/images/@i.Url" />
                            </div>
                        }
                    </div>
                    <div class="col col2">
                        <h3>Дата поездки: @Model.StartDate.ToShortDateString()</h3>

                        <h3>Ночей: @Model.Night</h3>
                     
                        <h3>Стоимость: @Model.Price$</h3>
                     
                        <h3>Питание: @Model.Nutrition</h3>
                        
                    </div>

                </div>
            </div>
        </section>
    </div>
   
    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
</body>
</html>