@model TouristAgency.Models.CartIndexViewModel
<br />
<h2>

</h2>
<table class="table" style="margin:40px">
    <thead>
        <tr>
            <th>Кол-во человек</th>
            <th>Тур</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Tour.City</td>
                <td class="text-right">@line.Tour.Price.ToString("# $")</td>
                <td class="text-right">
                    @((line.Quantity * line.Tour.Price).ToString("# $"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# $")
            </td>
        </tr>
    </tfoot>
</table>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.scrollex.min.js"></script>
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/skel.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script src="~/Scripts/jquery.scrolly.min.js"></script>